<div class="show-wrapper">
  <div class="images">
    <%if @response["property_images"]%>
      <div class="owl-carousel">
        <% @response["property_images"].each do |image| %>
        <div class="item">
          <%=image_tag image["url"]%> 
        </div>
        <% end %>
      </div>
    <%else%>
      <p>No property images</p>
    <%end%>
  </div>

  <div class="text">
    <p class="title"><%=@response["title"]%> (<%=@response["public_id"]%>)</p>
    <h4><%=@response["description"]%></h4>
    <p><%=@response["property_type"]%></p>
    <p class="type"><i class="fas fa-map-marker-alt"></i> <%=@response["location"].fetch_values("name","street","postal_code").join("")%></p>
  </div>
</div>
<div class="contact-form">

</div>